html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("../assets/gifs/forest_background_animated.gif");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    color: #F4F6FB;
    font-family: "Corbel Light", sans-serif;
    display: flex;
    flex-direction: column;
}



.main {
    display: grid;
    grid-template-areas:
    "top top top"
    "nav content sidebar"
    "nav extra sidebar";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 1vh;
    width: 70%;
    margin: auto;
    flex: 1;
}

@keyframes bounceInAnimation {

    from {
        transform: translateY(
            -100vh
        );
    }

    49% {
        transform: translateY(
            1.9vh
        );
    }

    50% {
        transform: translateY(
            2vh
        );
    }

    51% {
        transform: translateY(
            2.1vh
        );
    }

    to {
        transform: translateY(
            0
        );
    }

}

.top {
    display: flex;
    flex-direction: column;
    grid-area: top;
    height: 15vh;
    background-image: linear-gradient(to bottom, #152227, #2b4042);
    border: 0.3vh solid #cad7ed;
    color: white;
    text-align: center;
    padding: 1vh 1vw;
    border-radius: 1.5vh;
    animation: bounceInAnimation 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    transition: height, border 0.3s ease;
}

.top:hover {
    height: 16vh;
    border: 0.4vh solid #cad7ed;
}

.top h1 {
    margin: auto;
    font-size: 2.5vh;
}

@keyframes hoverAnimation {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1vh);
    }
}

.top img {
    width: 10vh;
    margin: auto;
    border: hidden;
    border-radius: 1.5vh;
    transition: transform 0.3s ease;
}

.top img:hover {
    transform: scale(1.1);
    animation : hoverAnimation ease-in-out 1s;
    animation-iteration-count: infinite;
}

.nav {
    grid-area: nav;
    border: 0.3vh solid #cad7ed;
    margin: auto;
    margin-left: 1vw;
    margin-top: 1vh;
    width: 15vw;
    height: 70vh;
    border-radius: 1vh;
    background-image: linear-gradient(to bottom, #152227, #2b4042);
    text-align: left;
    animation: bounceInAnimation 1s 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    transition: width, height, border, padding 0.3s ease;
}

.nav:hover {
    width: 16vw;
    height: 71vh;
    border: 0.4vh solid #cad7ed;
    padding: 1vh 0.5vw;
}

.nav ul li a {
    font-size: 1.5vh;
    text-decoration: none;
    color: #F4F6FB;
    transition: color 0.3s ease;
}

.nav ul li a:hover {
    color: #FDE9C3;
}

.nav ul li a:active {
    color: #FDE9C3;
}

.nav ul li {
    font-size: 1.5vh;
    transition: transform 0.3s ease;
}

.nav ul li:hover {
    transform: scale(1.1) translateX(1vw);
}

.nav ul li:active {
    transform: scale(0.9) translateX(-1vw);
}



.content {
    display: flex;
    flex-direction: column;
    grid-area: content;
    border: 0.2vh solid #cad7ed;
    width: 50vh;
    height: 20vw;
    margin: auto;
    margin-top: 1vh;
    border-radius: 1vh;
    background-image: linear-gradient(to bottom, #152227, #2b4042);
    animation: bounceInAnimation 1s 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    transition: width, height, border, padding 0.3s ease;
}

.content:hover {
    width: 51vh;
    height: 21vw;
    border: 0.4vh solid #cad7ed;
    padding: 1vh 0.5vw;
}

.content p {
    font-size : 1.5vh;
    padding: 2vh 1vw;
}

.content img {
    align-self: center;
    margin: auto;
    width: 10vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    border: 0.2vh solid #cad7ed;
    width: 15vw;
    height: 40vh;
    margin: auto;
    border-radius: 1vh;
    background-image: linear-gradient(to bottom, #152227, #2b4042);
    text-align: left;
    animation: bounceInAnimation 1s 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    transition: width, height, border, padding 0.3s ease;
}

.sidebar:hover {
    width: 16vw;
    height: 41vh;
    border: 0.4vh solid #cad7ed;
    padding: 1vh 0.5vw;
}

.sidebar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 1vh 0.5vw;
    margin: auto;
}

.sidebar ul li {
    font-size: 1.5vh;
}

.sidebar ul li a img {
    width: 10vh;
    transition: transform 0.3s ease;
}

.sidebar ul li a img:hover {
    transform: scale(1.1);
}

.sidebar ul li a img:active {
    transform: scale(0.9);
}

.sidebar p {
    padding: 1vh 1vw;
    font-size: 1.5vh;
}

.websitebutton {
    margin: auto;
    transition: transform 0.5s ease;
    width: 50%;
}

.websitebutton img {
    width: 10vh;
}

.extra {
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-area: extra;
    border: 0.2vh solid #cad7ed;
    width: 25vw;
    height: 20vh;
    margin: auto;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #152227, #2b4042);
    animation: bounceInAnimation 1s 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    transition: width, height, border, padding 0.3s ease;
}

.extra:hover {
    width: 26vw;
    height: 21vh;
    border: 0.4vh solid #cad7ed;
    padding: 1vh 0.5vw;
}

.extra ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: auto;
}

.extra ul li {
    margin: 0 0.5vw;
    font-size: 1.5vh;
    transition: transform 0.3s ease;
}

.extra p {
    text-align: center;
    padding: 1vh 0.5vw;
    font-size: 1.5vh;
}

.extra a {
    text-decoration: none;
    font-size: 1.5vh;
    color: #F4F6FB;
}



.extra ul li a img {
    width: 5vh;
    transition: transform 0.3s ease;
}
.extra ul li a img:hover {
    transform: scale(1.1);
}

.extra ul li a img:active {
    transform: scale(0.9);
}


.footer {
    transform: translateY(4vh);
    position: fixed;
    bottom: 0;
    font-size: 1.5vh;
    text-align: center;
    background-color: #152227;
    color: #F4F6FB;
    padding: 2vh;
    width: 100%;
    border-top: 0.2vh solid #cad7ed;
    margin-top: 2vh;
    transition: transform 0.3s ease;
}

.footer:hover {
    transform: translateY(0);
}