body {
    background-image: url("../assets/images/ForestBackground.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #152227;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 4px;
    color: #F4F6FB;
}

.content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    border: 2px solid #cad7ed;
    margin: auto;
    margin-top: 10px;
    width: 70%;
    border-radius: 10px;
    background-color: #152227;
    transition: border-color 0.3s ease;
}

.content:hover {
    border-color: #FDE9C3
}

.contentEnter {
    transition: transform 0.5s ease;
}

.contentEnter:hover {
    transform: scale(1.1);
}

.contentEnter:active {
    transform: scale(0.9);
}

.contentEnter a {
    text-decoration: none;
    color: #F4F6FB;
    transition: color 0.3s ease;
}

.contentEnter a:hover {
    color: #FDE9C3;
}

.contentEnter a:active {
    color: #FDE9C3;
}

.content img {
    width: 100px;
    padding: 10px;
    align-self: center;
    border: solid 0.2rem;
    border-radius: 60px;
    border-color: white;
}

.footer {
    font-family: "Corbel Light", sans-serif;
    position: fixed;
    bottom: 0;
    font-size: 1.5vh;
    text-align: center;
    background-color: #152227;
    color: #F4F6FB;
    padding: 2vh;
    width: 100%;
    border-top: 0.2vh solid #cad7ed;
    margin-top: 2vh;
    transition: border-color 0.3s ease;
    
}

.footer:hover {
    border-color: #FDE9C3
}