
body {
    display: flex;
    flex-direction: column;
    background-color: #2b4042;
    color: white;
}

.top {
    margin: auto auto 4vh auto;
    border: #F4F6FB 2px solid;
    width: 40vw;
    height: auto;
    padding: 1vh;
    background-color: #152227;
    text-align: center;
}

.top h1 {
    font-size: 4vh;
    font-family: "Eagle Lake", serif;
}

.top a {
    text-decoration: none;
    color: white;
    padding: 1vh;
    transition: transform, color ease 0.3s;
    font-family: "Corbel Light", sans-serif;
}

.top a:hover {
    color: #cad7ed;
    transform: scale(1.1);
}


.animationcategory {
    margin: auto auto 4vh auto;
    padding: 1vh 1vw;
    background-color: #152227;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: #ffffff 2px solid;
    width: 80%;
}

.animationcategory h2 {
    font-family: "Eagle Lake", serif;
    font-size: 2rem;
    margin-bottom: 20px;

}

.animationcategory p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: "Corbel Light", sans-serif;
}

.animationlist {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.animationlist ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.animationlist li {
    display: flex;
    width: 10vw;
    height: 10vh;
    border: #ffffff 0.2vh solid;
    border-radius: 2vh;
    flex-wrap: wrap;
    list-style: none;
    margin: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.5s ease;
}

.animationlist li:hover {
    transform: scale(1.1);
}

.animationlist li:active {
    transform: scale(0.9);
}

/*
    TODO
    Make it so on click, a transition animation will play, and a box will open displaying more info about the animation.
*/

.animationlist li a {
    text-decoration: none;
    width: auto;
    height: auto;
    margin: auto;
    padding: 1vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2vh;
    text-align: center;
    font-family: "Corbel Light", sans-serif;
}

.footer {
    font-family: "Corbel Light", sans-serif;
    transform: translateY(4vh);
    position: fixed;
    bottom: 0;
    font-size: 1.5vh;
    text-align: center;
    background-color: #152227;
    color: #F4F6FB;
    padding: 2vh;
    width: 100%;
    border-top: 0.2vh solid #cad7ed;
    margin-top: 2vh;
    transition: transform 0.3s ease;
}

.footer:hover {
    transform: translateY(0);
}