@keyframes bounceInAnimation {

    from {
        transform: translateY(
                -200vh
        );
    }

    49% {
        transform: translateY(
                1.9vh
        );
    }

    50% {
        transform: translateY(
                2vh
        );
    }

    51% {
        transform: translateY(
                2.1vh
        );
    }

    to {
        transform: translateY(
                0
        );
    }

}

@keyframes bounceInSideAnimation {

    from {
        transform: translateX(
                -200vw
        );
    }

    49% {
        transform: translateX(
                1.9vw
        );
    }

    50% {
        transform: translateX(
                2vw
        );
    }

    51% {
        transform: translateX(
                2.1vw
        );
    }

    to {
        transform: translateX(
                0
        );
    }

}

body {
    display: flex;
    flex-direction: column;
    background-color: #2b4042;
    color: white;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 100%;
    pointer-events: none;
    z-index: -1;
}

.frame-container {
    position: absolute;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    width: 300%; /* enlarge beyond browser width */
    left: -100%; /* center */
}

.frame-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.top {
    margin: auto auto 4vh auto;
    border: #F4F6FB 2px solid;
    width: 40vw;
    height: auto;
    padding: 1vh;
    background-color: #152227;
    text-align: center;
    animation: bounceInAnimation 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.top h1 {
    font-size: 4vh;
    font-family: "Eagle Lake", serif;
}

.top a {
    text-decoration: none;
    color: white;
    padding: 1vh;
    transition: transform, color ease 0.3s;
    font-family: "Corbel Light", sans-serif;
}

.top a:hover {
    color: #cad7ed;
    transform: scale(1.1);
}


.animationcategory {
    margin: auto auto 4vh auto;
    padding: 1vh 1vw;
    background-color: #152227;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: #ffffff 2px solid;
    width: 80%;
}

.animationcategory:nth-child(1) {
    animation: bounceInSideAnimation 1s 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.animationcategory:nth-child(2) {
    animation: bounceInSideAnimation 1s 0.6s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.animationcategory:nth-child(3) {
    animation: bounceInSideAnimation 1s 0.9s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.animationcategory:nth-child(4) {
    animation: bounceInSideAnimation 1s 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.animationcategory:nth-child(5) {
    animation: bounceInSideAnimation 1s 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.animationcategory:nth-child(6) {
    animation: bounceInSideAnimation 1s 1.8s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.animationcategory h2 {
    font-family: "Eagle Lake", serif;
    font-size: 2rem;
    margin-bottom: 20px;

}

.animationcategory p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: "Corbel Light", sans-serif;
}

.animationlist {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.animationlist ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.animationlist li {
    display: flex;
    width: 10vw;
    height: 10vh;
    border: #ffffff 0.2vh solid;
    border-radius: 2vh;
    flex-wrap: wrap;
    list-style: none;
    margin: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.5s ease;
}

.animationlist li:hover {
    transform: scale(1.1);
}

.animationlist li:active {
    transform: scale(0.9);
}

/*
    TODO
    Make it so on click, a transition animation will play, and a box will open displaying more info about the animation.
*/

.animationlist li a {
    text-decoration: none;
    width: auto;
    height: auto;
    margin: auto;
    padding: 1vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2vh;
    text-align: center;
    font-family: "Corbel Light", sans-serif;
}

.footer {
    font-family: "Corbel Light", sans-serif;
    transform: translateY(4vh);
    position: fixed;
    bottom: 0;
    font-size: 1.5vh;
    text-align: center;
    background-color: #152227;
    color: #F4F6FB;
    padding: 2vh;
    width: 100%;
    border-top: 0.2vh solid #cad7ed;
    margin-top: 2vh;
    transition: transform 0.3s ease;
}

.footer:hover {
    transform: translateY(0);
}

@media screen and (max-width: 1024px) {

    .top {
        width: 90%;
    }

    .animationcategory {
        width: 90%;
    }

    .animationlist ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }

    .animationlist ul li {
        width: 15vh;
        height: 10vh;
    }

    .animationlist li a {
        width: auto;
        font-size: 1.5vh;
    }



    .frame-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .frame-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .footer {
        transform: translateY(0);
        width: 100%;
        padding: 1vh;
        position: relative;
        transition: none;
        animation: none
    }

    .footer:hover {
        transform: translateY(0);
    }
}