body {
    background-image: url("../../assets/images/ForestBackground.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #F4F6FB;
}

.title {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    border: 0.3vh solid #cad7ed;
    margin: 1vh auto auto;
    width: 70%;
    background-color: #2b4042;
    transition: border-color 0.3s ease;
}

.returnButton {
    border: #F4F6FB 2px solid;
    border-radius: 1.5vh;
    padding: 1vh;
    transition: transform 0.5s ease;
}

.returnButton:hover {
    transform: scale(1.1);
}

.returnButton:active {
    transform: scale(0.9);
}

.returnButton a {
    text-decoration: none;
    color: #F4F6FB;
    transition: color 0.3s ease;
}

.returnButton a:hover {
    color: #FDE9C3;
}

.returnButton a:active {
    color: #FDE9C3;
}

.content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    border: 0.3vh solid #cad7ed;
    margin: 2vh auto auto;
    width: 70%;
    background-color: #2b4042;
    transition: border-color 0.3s ease;
}

.content:hover {
    border-color: #FDE9C3;
}

.title:hover {
    border-color: #FDE9C3;
}

.footer {
    position: fixed;
    bottom: 0;
    font-size: 1.5vh;
    text-align: center;
    background-color: #152227;
    color: #F4F6FB;
    padding: 2vh;
    width: 100%;
    border-top: 0.2vh solid #cad7ed;
    margin-top: 2vh;
}


.footer:hover {
    border-color: #FDE9C3;
}