body {
    background-image: url("../../assets/images/ForestBackground.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #F4F6FB;
    font-family: "Corbel Light", sans-serif;
}

.content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    border: 2px solid #cad7ed;
    margin: 10px auto auto;
    width: 70%;
    background-color: #152227;
}

.anime-watching-list, .anime-planning-list, .anime-finished-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.anime-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 10vw;
    height: 20vh;
    border: #ffffff 2px solid;
    border-radius: 15px;
    flex-wrap: wrap;
    list-style: none;
    margin: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    animation: popIn 0.5s ease-in-out;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
    transition: transform 0.5s ease;
}

.anime-item:hover {
    transform: scale(1.1);
}

.anime-item h2 {
    text-align: center;
    font-size: 2vh;
    margin: auto;
    padding: 1vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Corbel Light", sans-serif;
}

.anime-item img {
    height: 150%;
    border-radius: 15px;
}

.returnButton {
    border: #F4F6FB 2px solid;
    border-radius: 15px;
    padding: 10px;
    transition: transform 0.5s ease;
}

.returnButton:hover {
    transform: scale(1.1);
}

.returnButton:active {
    transform: scale(0.9);
}

.returnButton a {
    text-decoration: none;
    color: #F4F6FB;
    transition: color 0.3s ease;
}

.returnButton a:hover {
    color: #FDE9C3;
}

.returnButton a:active {
    color: #FDE9C3;
}

footer {
    text-align: center;
    background-color: #233657;
    color: #F4F6FB;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #cad7ed;
}

@media screen and (max-width: 1024px) {
    .content {
        margin: auto;
        padding: 2vh;
        width: 90%;
    }

    .anime-item {
        width: 20vw;
        height: 20vh;
    }
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }

    10% {
        opacity: 0.1;
    }

    100% {
        transform: scale(1);
    }
}