body {
    background-image: radial-gradient(#f9aee1 40%, transparent 20%);
    background-color: #ffffff;
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
    animation: bgMove 60s linear infinite;
}

@keyframes bgMove {
    from {background-position: top left;}
    to {background-position: bottom right;}
}

.title {
    text-align: center;
    margin: auto;
}

.title img {
    height: 10rem;
    animation: pulse 1s infinite ease-in-out alternate;
    animation-play-state: paused;
}

.title img:hover {
    animation-play-state: running;
}

@keyframes pulse {
    from { transform: scale(0.95); }
    to { transform: scale(1.05); }
}

.content {
    background-color: #f9aee1;
    border: #ffe5f7 solid;
    border-radius: 30px;
    text-align: center;
    margin: auto;
    font-family: cursive;
    color: white;
}

.content h2 {
    font-size: xx-large;
    -webkit-text-stroke: 1px black;
}

.content h3 {
    font-size: x-large;
    -webkit-text-stroke: 0.75px black;
}

.content p {
    font-size: large;
}

.footer {
    position: fixed;
    bottom: 0;
    font-size: 1.5vh;
    font-family: cursive;
    text-align: center;
    background-color: #f9aee1;
    color: white;
    padding: 2vh;
    width: 100%;
    margin: auto;
    border-top: 0.2vh solid #ffe5f7;
    margin-top: 2vh;
    transition: border-color 0.3s ease;
}